body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#title > h1{
    text-align: center;
    font-size: 40px;
}

#calcContainer {
    background-color: rgb(237, 237, 237);
    border: 1px solid black;
    border-radius: 40px;
    height: 800px;
    width: 600px;
    padding: 30px;
    margin-top: 20px;

    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 200px 150px 150px 150px 150px;
    grid-template-areas: 
    "screen screen screen screen"
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "zero clear sum add"
    ;

}

#screen {
    font-size: 60px;
    text-align: right;
    padding-right: 25px;
    padding-top: 25px;
}

.button {
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    font-size: 40px;
}
    .button:hover{
        cursor: pointer;
        box-shadow: -6px -5px 34px -6px rgba(146,146,146,0.14);
        filter: brightness(105%)
    }

    .number {
        background-color: rgb(255, 252, 240);
    }
    .operator {
        background-color: rgb(248, 221, 170);
    }
    .clear {
        background-color: rgb(247, 196, 177);
    }

#screen {
    grid-area: screen;
    border: 1px solid black;
    background-color: rgb(209, 222, 245);
    border-radius: 20px;
    margin: 20px 20px 5px 20px;
    
}
    #zero {
        grid-area: zero;
    }
    #one {
        grid-area: one;
    }
    #two {
        grid-area: two;
    }
    #three {
        grid-area: three;
    }
    #four {
        grid-area: four;
    }
    #five {
        grid-area: five;
    }
    #six {
        grid-area: six;
    }
    #seven {
        grid-area: seven;
    }
    #eight {
        grid-area: eight;
    }
    #nine {
        grid-area: nine;
    }
    #add {
        grid-area: add;
    }
    #subtract {
        grid-area: subtract;
    }
    #multiply {
        grid-area: multiply;
    }
    #divide {
        grid-area: divide;
    }
    #sum {
        grid-area: sum;
    }
    #clear {
        grid-area: clear;
    }